body {
  background-blend-mode: overlay;
  background-color: #444239;
  background-image: url('bananas.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1, h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-shadow: 1vw 1vw 1vw black;
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size: 8vh;
}

.title h1, h2{
  margin: 0px;
}

#result {
  height: 33vh;
}

.btn-primary {
  background-color: #20af67;
  border: none;
}

.btn-primary:hover {
  background-color: #48d890;
}

.custom-select {
  width: 100px;
}

.form-inline {
  display: inline;
}